


a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }




.topbar{
				padding:8px;
				
				
				}

.left{
				padding:7px;
				float:left;
				}

.right{
				padding:7px;
				float:right;
				
				}
.right a i{
				font-size:26px;
				}



input[type=email] {
				
				
	 /*background-color:#F6F6F4 ;*/
  width: 220px;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border:2px solid #f6f6f6;
  border-radius:4px;
  /*-webkit-transition: 0.5s;
  transition: 0.5s;*/
  outline: none;
  /*border-radius:8px;*/
  color:#000/*#F1F1F3 #9B9B9A*/;
  transition:0.3s;
  font-family: "Lato", sans-serif;
  
  
  
}




input[type=email]:focus {
  border: 2px solid #333;
  /*box-shadow:0.16px 0.16px 2px 1px #F6F6F4;
  */
  
}


input[type=submit]{
				background-color:#000;
				text-decoration:none;
				font-family: "Lato", sans-serif;
				color:#fff;
				width:220px;
				border:none;
				border-radius:4px;
				padding-left:80px;
				padding-right:80px;
				padding-top:15px;
				padding-bottom:15px;
				
				}